body {
  text-align: center;
  background-color: #007200;
}

h1 {
  color: white;
  font-size: 90px;
  font-family: "Bungee Outline", cursive;
  text-shadow: 8px 8px 8px red;
}

img {
  width: 50%;
  height: auto;
  position: relative;
  bottom: 400px;
}


.answer-buttons {
  display: grid;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.button {
    background-color: white;
    color: #004b23;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
  border-radius: 25%;
  padding: 2%;
  margin: 4%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
}

input[type="button"].button:hover {
    cursor: pointer;
    background: repeating-linear-gradient(45deg, red, green);
    box-shadow: 5px 5px 5px black;

}

input[type="button"].next-button:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
}

.game-window {
    background-color: #004b23;
    height: 90%;
    width: 70%;
    position: relative;
    bottom: 800px;
  left:14%;
  display: flex;
  justify-content: center;
  border: solid;
  border-color: red;
}

#scoreboard {
    color: red;
  height: 17%;
  width: 17%;
  background-color: #004b23;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 50px;
  margin: 20px;
  padding: 25px;
  text-align: center;
  border: solid;
  border-color: red;
}

.question-box {
  height: 55%;
  width: 80%;
  background-color: lightgrey;
  margin: 50px;
  margin-bottom: 100px;
  border: solid;
  border-color: red;
}

.question-text {
    font-size: 75px;
    color: #004b23;
    font-family: "Open Sans", sans-serif;
}

#next-button {
    background-color: #004b23;
    color: red;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    border-radius: 25%;
    padding: 2%;
    margin: 4%;
    max-width: 50%;
    float: right;
    border: solid;
}


#instructions-modal{
    width: 55%;
    height: 60%;
    font-size: 30px;
    background-color: #004b23;
    color:white;
    position: absolute;
    bottom:30px;
    left: 300px;
    z-index: 1;
    border: solid red;
    padding: 50px;
    box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.7);
    /* display: none; */
}

#close-modal {
    font-size: 20px;
    color:white;
    background-color: green;
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: dotted red;
}
#close-modal:hover {
    cursor: pointer;
    color: red;
}

/* #modal-background {
    background-color: darkgray;
    opacity: .8;
    width: 100%;
    height: 100%;
    z-index: 1;
} */
/* @media (max-width: 600px) {
    .h1 {
        color:red;
    }
    img {
        display: none;
    }
} */