body {
  text-align: center;
  background-color: #00171f;
}

h1 {
    color:#ffffff;
    font-size: 350%;
    font-family: 'Bungee Outline', cursive;
}


.button {
  background-color: #00a8e8;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  border-radius: 25%;
  position: flex;
  align-items: center;
  justify-content: bottom;
  padding: 2%;
  margin: 4%;
  /* need to figure out how to center buttons properly */
}
.game-window {
  background-color: #007ea7;
  height: 90%;
  width: 100%;
  position:fixed;
}

#scoreboard {
    color:  rgb(207, 136, 4);
}

.question-box {
  height: 50%;
  width: 50%;
  background-color: #003459;
  position: fixed;
  top: 40%;
  left: 25%;
}

.question-text {
    font-size: 250%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;

}

#next-button {
    background-color: rgb(207, 136, 4);
}