body {
  text-align: center;
  background-color: lightgray;
}

.answer-button {
  background-color: palevioletred;
  border-radius: 25%;
  position: flex;
  align-items: center;
  justify-content: bottom;
  padding: 2%;
  margin: 4%;
}
.game-window {
  background-color: grey;
  height: 90%;
  width: 100%;
  position:fixed;
}

.buttons {
    position: flex;
    align-items: center;
    justify-content: center;
    /* need to figure out how to move buttons to bottom */
}
.question-box {
  height: 50%;
  width: 50%;
  background-color: paleturquoise;
  position: fixed;
  top: 25%;
  left: 25%;
}

.question-text {
    font-size: 300%;
}
